{% extends 'layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block navbar %}
      <ul class="nav navbar-nav" id="dynsatis-repoList">
            <li role="presentation"><a href="/admin">Repositories</a></li>
            <li role="presentation"><a href="/admin/new-repository">New Repository</a></li>
      </ul>
{% endblock %}